@import "tailwindcss";
/* Define custom colors */
:root {
  --primary-color: #000000;
  --secondary-color: #1f1925;
}
@layer components {
  .primary-button {
     background-color: #60a5fa; /* bg-blue-400 */
     color: white; /* text-white */
     padding-left: 1rem; /* px-4 */
     padding-right: 1rem; /* px-4 */
     padding-top: 0.5rem; /* py-2 */
     padding-bottom: 0.5rem; /* py-2 */
     border-radius: 0.375rem; /* rounded-md */
     transition-duration: 200ms; /* duration-200 */
  }
  .primary-button:hover {
     background-color: #3b82f6; /* hover:bg-blue-500 */
  }
}

/* Centered container with custom padding */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
